body, html {
    height: 100%;
    margin: 0px;
}

body {
    background-color: grey;
	font-family: Arial;
}

.header {
	text-align: center;
	padding-top: 50px;
	font-size: 3rem;
	color: white;
}

.btnStart {
	width: 100%;
	font-size: 1rem;
}

.board-cell {
    border: 1px solid white;
    height: 100px;
    color: white;
    display: flex;
    font-size: 48px;
    justify-content: center;
    align-items: center;
}

.game-container {
	margin-top: 50px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
    align-content: center;
    height: 300px;
}

dialog {
    font-family: Arial;
    font-size: 18px;
}

button {
	border-radius: 7px;
}

button:hover {
	background-color: grey;
        color: white;
	border-color: white;
}